@media screen and (min-width: 767px) {
}
@media screen and (max-width: 767px) {
  body{
    width:100%;
  }
  .clearfix::after{
    content:"";
    display:block;
    clear:both;
  }
  .margin{
    width:300px;
    height: 450px;
    margin:0 auto;
  }
  .header{
    width:300px;
    height: 100px;
    background-color: #141f40;
  }
  .sidebar{
    width:100px;
    height: 250px;
    float: left;
    background-color: #80bfa8;
  }
  .tyousei{
    width: 200px;
    height: 150px;
    float: left;
  }
  .main1{
    width:200px;
    height: 100px;
    float: left;
    background-color: #8c2727;
  }
  .main2{
    position: relative;
    bottom: 0;
    width:75px;
    height: 150px;
    float: right;
    background-color: #ff9e6b;
  }
  .main3{
    position: relative;
    bottom: 0;
    width:  125px;
    height: 100px;
    float: right;
    background-color: #0093b7;
  }
  .main4{
    position: relative;
    bottom: 0;
    width:125px;
    height: 50px;
    float: right;
    background-color: #dbd400;
  }
  .footer{
    width:300px;
    height: 100px;
    background-color: #d98d30;
  }



}
@media screen and (max-width: 479px) {
  body{
    width: 150px;
    height: 530px;
  }
  .clearfix::after{
    content:"";
    display:block;
    clear:both;
  }
  .margin{
    width:150px;
    height: 530px;
    margin:0 auto;
  }
  .header{
    width:150px;
    height: 80px;
    background-color: #141f40;
  }
  .sidebar{
    width:150px;
    height: 80px;
    background-color: #80bfa8;
    float: left;
  }
  .tyousei{
    width: 150px;
    height: 210px;
    float: left;
  }
  .main1{
    width:150px;
    height: 80px;
    background-color: #8c2727;
  }
  .main2{
    width:150px;
    height: 80px;
    background-color: #ff9e6b;
    float: left;
  }
  .main3{
    width:  150px;
    height: 80px;
    background-color: #0093b7;
    float: left;
  }
  .main4{
    width:150px;
    height: 50px;
    background-color: #dbd400;
    float: left;
  }
  .footer{
    width:150px;
    height: 80px;
    background-color: #d98d30;
    position: absolute;
    bottom:90px;
  }
}