@media screen and (min-width:767px) {
}
@media screen and(max-width:767px){

}
@media screen and (max-width: 479px) {
  body{
    width:100%;
  }
  .clearfix{
    content:"";
    display: block;
    clear:both;
  }
  .frame{
    width: 200px;
    height: 800px;
  }
  .header{
    width: 200px;
    height: 200px;
    background-color: #141F40;
  }
  .innerLeft{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    border:10px solid whitesmoke;
    border-bottom-width:5px;
    float:right;
    margin-right: 70px;
    margin-top: 20px;
  }
  .innerMiddle{
    width: 40px;
    height: 40px;
    border:10px solid whitesmoke;
    border-top-width:5px;
    border-bottom-width:5px;
    background-color: #a9004b;
    float:right;
    margin-right: 70px;
    margin-top: 0px;
  }
  .innerRight{
    width: 40px;
    height: 40px;
    border:10px solid whitesmoke;
    border-top-width:5px;
    background-color: #a9004b;
    float:right;
    margin-right: 70px;
    margin-top:0px;
  }
  .sidebar{
    width: 200px;
    height: 100px;
    background-color: #80bfa8;
  }
  .main1{
    width: 200px;
    height: 250px;
    background-color: #8c2727;
  }
  .innerTop{
    width:140px;
    height: 40px;
    background-color: #ff863f;
    border:5px solid whitesmoke;
    margin-top:20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .innerCenter{
    width:140px;
    height: 40px;
    background-color: #ff863f;
    border:5px solid whitesmoke;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .innerBottom{
    width:140px;
    height: 40px;
    background-color: #ff863f;
    border:5px solid whitesmoke;
    margin-bottom:20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .footer{
    width: 200px;
    height: 100px;
    background-color: #d98d30;
    position: relative;
    top:350px;
  }
}